.header {
   background-color: lightgray;
   height: 3.5rem;
}

.nav {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
   padding: 1rem 2rem;

}
.nav div {
   display: flex;
   gap: 1rem;
}
.nav a,
.nav span,
.nav button {
   text-transform: uppercase;
   font-weight: bold;
   text-decoration: none;
}
.nav a:hover,
.nav button:hover{
   color: white
}

.nav span {
   text-transform: uppercase;
   font-weight: bold;
   text-decoration: none;
}

.nav button {
   border: none;
   background: none;
   padding: 0;
}