.header {
   background-color: antiquewhite;
}

.nav {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
   padding: 1rem 2rem;

}
.nav div {
   display: flex;
   gap: 1rem;
}
.nav a {
   text-transform: uppercase;
   font-weight: bold;
   text-decoration: none;
}
.nav span {
   text-transform: uppercase;
   font-weight: bold;
   text-decoration: none;
}