.listMain {
   margin: 2rem;
}
.mainTable {
   border: solid 3 black;
   border-collapse: collapse;
}
.mainTable th {
   border: solid 1 black;
   border-collapse: collapse;
   padding: 5px 10px;
   text-transform: uppercase;
}
.dataTable th {
   text-align: left;
   font-weight: 100;
   padding: 10px;
}

.buttonTab {
  text-align: right;
}
.buttonGroup {
  display: inline-flex;
  gap: 0.5rem;
}