.registermain {
   width: 100vw;
   display: flex;
   justify-content: center;

}
.registerform{
   margin-top: 50px;
   border: solid 1px black;
   padding: 2rem;
}
.registerbutton{
   margin-top: 1em;
}
.hregister{
   margin-bottom: 0.5em;
}